:root{
	--bg: linear-gradient(45deg, rgba(25,90,85,1) 15%, rgb(195 182 94) 100%);
	--cardbg: linear-gradient(45deg, rgb(36 96 86) 15%, rgb(121 142 90) 72%);
	--rowbg: #105057;
	--fontcolor: #d3dfd2;
	--shadow: #13413e;
	--Down: #72813c
	
}

html{
	
	font-family: 'Work Sans', sans-serif;
	font-size: x-large;
	font-weight: 500;
	color: var(--fontcolor);
background: var(--bg);
	
height: 100vh;
	
background-size: 120% 120%;
	
animation: gradient 20s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.indicators{
	min-height: min-content;
	min-width: 80vh;
	width: min-content;
	background: var(--cardbg);
	border: 4px double #edf1ea;
	margin: auto;
	margin-top: 10vh;
	border-radius: 6px;
	padding: 20px;
	opacity: 0.95;
}

.hover{
	
transition: all .5s;
}
.hover:hover{
	
box-shadow: -20px 20px var(--shadow);
position: relative;
transform: translate(20px,-20px);
}

.indicator{
	padding: 2vh;
	text-align: center;
	background: var(--rowbg);
	border: 6px double #6c875a;
	border-radius: 2px;
	opacity: 0.96;
	align-self: center;
}

.grid-container{
box-sizing: inherit;
display: grid;
grid-template-columns: 1fr 1fr .7fr;
	
}

.grid-container div{
	border: 1px solid;
	border-radius: 3px 0px;
	box-shadow: -2px 2px;
	
}

.def{
box-sizing: inherit;
display: flex;
align-items: center;
justify-content: center;
grid-row-start: 1;
grid-row-end: 4;
}
.Down{
	
}
input{
	background: black;
	color: white;
	text-align: center;
	border: 1px solid #e5ebe2;
}
.header{
	text-align: center;
	font-size: xx-large;
	position: relative;
	bottom: 10px;
	text-shadow: -3px 3px #115156;
	font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
	grid-column-start:1;
	grid-column-end: 4;
}